{{ define "main" }}
<section id="teaching">
    <h2>Teaching</h2>
    {{ .Content }}
    <ul class="teaching-list">
    {{ range .Pages.ByParam "semester" }}
        <li>
            <div class="teaching-course">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
            <div class="teaching-meta">
                {{ .Params.semester }}{{ with .Params.institution }} &mdash; {{ . }}{{ end }}
            </div>
            {{ with .Params.description }}
            <div class="teaching-description">{{ . }}</div>
            {{ end }}
        </li>
    {{ end }}
    </ul>
</section>
{{ end }}
