{{ define "main" }}
{{ $publications := (where site.RegularPages "Section" "publications").ByDate.Reverse }}
{{ $preprints := (where site.RegularPages "Section" "preprints").ByDate.Reverse }}
{{ $pubCount := len $publications }}
{{ $preprintCount := len $preprints }}
{{ $totalCount := add $pubCount $preprintCount }}

{{/* Use scratch for a decrementing counter */}}
{{ $scratch := newScratch }}
{{ $scratch.Set "counter" $totalCount }}

<section id="preprints">
    <h2>Preprints</h2>
    <ul class="preprints-list">
        {{ range $index, $page := $preprints }}
        <li>
            <span class="number">{{ $scratch.Get "counter" }}.</span>
            {{ $scratch.Add "counter" -1 }}
            <span class="authors">{{ with $page.Params.authors }}{{ delimit . ", " }}{{ end }}</span>,
            <a href="{{ with $page.Params.link }}{{ . }}{{ else }}{{ with $page.Params.doi }}https://doi.org/{{ . }}{{ end }}{{ end }}" class="title">'{{ $page.Title }}'</a>,
            <span class="venue">{{ $page.Params.venue }}</span> ({{ $page.Params.year }}),
            {{ with $page.Params.doi }}DOI: <a href="https://doi.org/{{ . }}">{{ . }}</a>{{ end }}
            {{ with $page.Params.image }}
            <figure class="publication-image">
                <img src="/img/research/{{ . }}" alt="{{ $page.Params.imageCaption }}">
                <figcaption>{{ $page.Params.imageCaption }}</figcaption>
            </figure>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</section>

<section id="publications">
    <h2>Publications</h2>
    <ul class="publications-list">
        {{ range $index, $page := $publications }}
        <li>
            <span class="number">{{ $scratch.Get "counter" }}.</span>
            {{ $scratch.Add "counter" -1 }}
            <span class="authors">{{ with $page.Params.authors }}{{ delimit . ", " }}{{ end }}</span>,
            <a href="{{ with $page.Params.link }}{{ . }}{{ else }}{{ with $page.Params.doi }}https://doi.org/{{ . }}{{ end }}{{ end }}" class="title">'{{ $page.Title }}'</a>,
            <span class="venue">{{ if $page.Params.isThesis }}{{ $page.Params.venue }}{{ else }}<i>{{ $page.Params.venue }}</i>{{ end }}</span>
            {{- with $page.Params.volume }} {{ . }}{{ end }} ({{ $page.Params.year }}{{ with $page.Params.note }}, {{ . }}{{ end }}),
            {{ with $page.Params.doi }}DOI: <a href="https://doi.org/{{ . }}">{{ . }}</a>{{ end }}
            {{ with $page.Params.image }}
            <figure class="publication-image">
                <img src="/img/research/{{ . }}" alt="{{ $page.Params.imageCaption }}">
                <figcaption>{{ $page.Params.imageCaption }}</figcaption>
            </figure>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}
